<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372386561577-a0usneffsoslkegq5dkjl49vn6lbgp7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372386561577-a0usneffsoslkegq5dkjl49vn6lbgp7n</string>
	<key>API_KEY</key>
	<string>AIzaSyDSrC9h-O0ifBfMC-BNs-rbE2bhYLJTYUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>372386561577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.log.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>beats-c80cb</string>
	<key>STORAGE_BUCKET</key>
	<string>beats-c80cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372386561577:ios:7bcf833b483b5529d3e638</string>
</dict>
</plist>